{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guess Game - Made by Kirill Kamakin & Pavel Pikalov</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
{% if options %}
    <img src="/media/{{ image }}/" alt="Famous person photo" height="300">
    <ul>
        {% for i, option in options.items %}
            <li><a href="/guess/{{ id }}/{{ i }}/">{{ option }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No images were found</p>
{% endif %}
</body>
</html>
